<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        };
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>

<body>
    <h1> 
        <div>
            URL Shortner
            <form method="post", action="/user/logout">
                <button type="submit">Logout</button>
            </form>
        </div>
    </h1>
    <% if (locals.id) { %>
        <p>URL Generated : http://localhost:8000/url/<%= id %>
        </p>
        <% } %>
            <div>
                <form method="post" action="/url">
                    <label>Enter your original URL</label>
                    <input type="text" name="url" placeholder="https://example.com" />
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>Sl. No.</th>
                            <th>Short Id</th>
                            <th>Redirect URL</th>
                            <th> Click </th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td align="center">
                                        <%= index + 1 %>
                                    </td>
                                    <td align="center">
                                        <%= url.shortId %>
                                    </td>
                                    <td align="center">
                                        <%= url.redirectUrl %>
                                    </td>
                                    <td align="center">
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>